.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.numpad-button {
    padding: 15px;
    font-size: 18px;
    background-color: #070921;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.numpad-button:hover {
    background-color: #04458f5b;
}

